.piano {
    display: flex;
    flex-wrap: row;
    align-self: flex-end;
    position: relative;
}

.white-key {
    width: 65px;
    height: 180px;
    background-color: #FFF;
    border: 4px solid black;
    border-radius: 0 0 10px 10px;
    margin-left: -4px;
    outline: none;
    cursor: pointer;
}

.white-key.active {
    background-color: red;
}

.black-key {
    position: absolute;
    width: 38px;
    height: 120px;
    background-image: linear-gradient(#000000, #303030);
    border: 3px solid black;
    border-radius: 0 0 2px 2px;
    outline: none;
    cursor: pointer;
    color: #FFFFFF;
}

.black-key.active {
    background-image: linear-gradient(blue, skyblue);
}

.Db4-key {
    left: 38px;
}

.Eb4-key {
    left: 102px;
}

.Gb4-key {
    left: 223px;
}

.Ab4-key {
    left: 285px;
}

.Bb4-key {
    left: 345px;
}

.Db5-key {
    left: 466px;
}

.Eb5-key {
    left: 527px;
}

@media only screen and (min-width:1000px) {
.piano {
        display: flex;
        flex-wrap: row;
        align-self: flex-end;
        position: relative;
        margin: 35px;
    }

    .white-key {
        width: 80px;
        height: 240px;
        background-color: #FFF;
        border: 4px solid black;
        border-radius: 0 0 10px 10px;
        margin-left: -4px;
        outline: none;
        cursor: pointer;
    }

    .white-key.active {
        background-color: red;
    }

    .black-key {
        position: absolute;
        width: 48px;
        height: 160px;
        background-image: linear-gradient(#000000, #303030);
        border: 3px solid black;
        border-radius: 0 0 2px 2px;
        outline: none;
        cursor: pointer;
        color: #FFFFFF;
    }

    .black-key.active {
        background-image: linear-gradient(blue, skyblue);
    }

    .Db4-key {
        left: 48px;
    }

    .Eb4-key {
        left: 124px;
    }

    .Gb4-key {
        left: 276px;
    }

    .Ab4-key {
        left: 354px;
    }

    .Bb4-key {
        left: 430px;
    }

    .Db5-key {
        left: 580px;
    }

    .Eb5-key {
        left: 658px;
    }
    
}